<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% messages.forEach((message, i)=>{ %><br />
      <h2>Message <%=i%></h2>
      <%=message.user%><br />
      <%=message.text%><br />
      <%=message.added%>
      <a
        href="/message?user=<%=message.user%>&text=<%=message.text%>&added=<%=message.added%>"
      >
        <button>Open</button></a
      >
      <% })%>
    </ul>
    <a href="/new">
      <button>Add greeting</button>
    </a>
  </body>
</html>
