<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>miniMessageBoard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="messages-container">
        <img src="../assets/miniMessage.png" alt="website-logo" />
        <h1>Recorded Greetings</h1>
        <ul>
          <%if (locals.usersNotFound){%>
          <p class="sub-heading new-sub-heading"><%=usersNotFound%></p>
          <%}%> <%if(locals.messages)%>
          <div>
            <% messages.forEach((message, i)=>{ %><br />
            <div class="messages">
              <h2 class="message-items">Message <%=i+1%></h2>
              <strong>Author: </strong><%=message.username%><br />
              <strong>Greeting: </strong><%=message.text%><br />
              <strong>Date Added: </strong><%=message.date%>
              <div class="open-edit btns">
                <a
                  href="/message?user=<%=message.username%>&text=<%=message.text%>&added=<%=message.date%>"
                >
                  <button class="add-greeting">Open</button></a
                >
                <a
                  href="/update?user=<%=message.username%>&text=<%=message.text%>&added=<%=message.date%>&id=<%=message.id%>"
                >
                  <button class="open-btn update-btn add-greeting">
                    Edit
                  </button></a
                >
              </div>
            </div>
            <% })%>
          </div>
        </ul>
        <div class="btns">
          <a href="/new">
            <button class="add-greeting">Add Greeting</button>
          </a>
          <div>
            <a href="/search"
              ><button class="add-greeting">Search Users</button></a
            >

            <form action="/delete" method="post">
              <button
                type="submit"
                onclick="return confirm(`Are you sure you want to delete entered user?`)"
                class="add-greeting red"
              >
                Delete Users
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
